body {
    font-family: Times New Roman;
    margin: 20px;
}
h1 {
    color: #333;
}
p {
    margin-bottom: 10px;
}
ul {
    list-style-type: square;;
    margin-left: 20px;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}
th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #333;
    color: #fff;
}
img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}



header {

    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

ul {
    list-style-type: square;
}

.centered-text {
    text-align: center;
}

.course {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}